
{% extends "app_biblioteca/index.html" %}
{% load static %}
{% block contenidoQueCambia %}


     <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Agregar libros</h1>
                       <!--<hr class="divider" />-->

                    </div>
                    <div class="col-lg-8 align-self-end">

                        <form action="" method="POST">{% csrf_token %}

                            <p>Titulo: <input type="text" name="titulo"></p>
                            <p>Autor: <input type="text" name="autor"></p>
                            <p>Años de publicacion: <input type="number" name="años_publicacion"></p>
                            <p>Numero ejemplares: <input type="number" name="numeros_ejemplares"></p>
                           <!-- <p>Esta en digital: <input type="checkbox" name="digital"></p>-->
                            <br>
                             <p>{{status}}</p>

                            <br>

                            <input class="btn btn-primary btn-xl" type="submit" value="Agregar libro">
                            <br> <br>
                        </form>

                    </div>

     </div>

{% endblock %}